%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl Retrofitted Vehicles Upload Portal
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p Use this page to upload data about vehicles that have been retrofitted.

      %h2.govuk-heading-m Uploading your data
      - if @job_errors
        = render 'upload/job_errors'
      - elsif alert
        = render 'shared/errors'
      %p
        Your data must be saved as a CSV file and be formatted according to the
        %a{href: data_rules_upload_index_path} data rules.
        You should read the data rules before you upload a file to avoid errors.

      = form_tag(import_upload_index_path, multipart: true) do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %label.govuk-label{for: 'file-upload-1'}
            Upload a file
          - if alert
            %span#govuk-error-message.govuk-error-message
              %span.govuk-visually-hidden Error:
              = alert
          %input#file-upload-1.govuk-file-upload{class:('govuk-file-upload--error' if alert),
                                                 'aria-describedby': 'file-upload-1',
                                                 name: 'file',
                                                 type: 'file'}
        .govuk-form-group
          = submit_tag 'Upload', class: 'govuk-button', 'data-module': 'govuk-button'
